.head {
  text-align: center;
  background-color: aquamarine;
  font-family: "PT Sans", sans-serif;
  font-size: 50px;
  margin: 20px;
}
.post1 {
  border: palegreen 15px solid;
  display: inline-block;
  text-align: center;
  background-color: cornsilk;
  padding: 25px;
  margin: 100px 100px;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
}
.post1 img {
  width: 300px;
}
.post2 {
  border: cornsilk 15px solid;
  display: inline-block;
  text-align: center;
  background-color: palegreen;
  padding: 25px 39px;
  margin: 85px 100px;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
}
.post2 img {
  height: 205px;
}
.post3 {
  border: palegreen 15px solid;
  display: inline-block;
  text-align: center;
  background-color: cornsilk;
  padding: 25px;
  margin: 100px 100px;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
}
