body {
  background: linear-gradient(#da2d2d, #272822);
}
#head {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
  height: 1000px;
  border-radius: 3%;
  font-family: "Cinzel Decorative", cursive;
  color: #920e0e;
  font-size: 200px;
  margin: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.post {
  border: #160303 15px solid;
  border-radius: 3%;
  display: inline-block;
  text-align: center;
  background-color: #920e0e;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
}
.post img {
  border-radius: 3%;
}

.post1 {
  padding: 43px 22px;
  margin: 100px 100px;
}

.post1 img {
  width: 280px;
}

.post2 {
  padding: 47px 39px;
  margin: 100px 100px;
}

.post2 img {
  height: 205px;
}

.post3 {
  padding: 54px 16px 49px 16px;
  margin: 100px 100px;
}

.post3 img {
  width: 290px;
}
